#ctx {
  image-rendering: pixelated;
  border: 1px solid red;
  width: 800px;
  height: 600px;
}

body {
  font-smooth: never;
  -webkit-font-smoothing: none;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "VT323", monospace;
  color: white;
  background-color: black;
}
